/* Центр экрана */
.wrapper {
  min-height: 100vh;
  background-image: url("../assets/image01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 3D сцена */
.scene {
  width: 320px;
  height: 420px;
  perspective: 1200px;
}

/* Карточка */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
  cursor: pointer;
}

.card.is-flipped {
  transform: rotateY(180deg);
}
/* Стороны */
.card-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* FRONT */
.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.open-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 22px;
  border-radius: 999px;
  border: none;
  background: rgba(237, 237, 237, 0.85);
  font-size: 14px;
  cursor: pointer;
  color: rgb(51, 32, 61);
}

/* BACK */
.card-back {
  background: rgb(176, 170, 170);
  transform: rotateY(180deg);
  padding: 24px;
  text-align: center;
}

.card-back h1 {
  margin-bottom: 12px;
  font-size: 30px;
  color: rgb(55, 36, 36);
}

.card-back p {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(55, 36, 36);
}

.card-back .open-btn {
  margin-top: 20px;
  background: rgba(237, 237, 237, 0.85);
   color: rgb(51, 32, 61);
}



